<ul class="colors">
  <% @colors.each do |color| %>
  <li class="color" style="background-color: #<%= color.hex %>;">
    #<%= color.hex %>
    <span class="votes">Votes: <%= color.votes.length %>
      <%= form_for [color, Vote.new], local: true do |f| %>
      <button type="submit" class="vote">
        <% if @logged_in_user %>
          <span class="vote">🗳</span>
        <% end %>
      </button>
      <% end %>
    </span>
  </li>
  <% end %>
</ul>