<h6>Create New Cat</h6>

<form action="/cats" method="POST">
  <input type="text" name="name" placeholder="Enter Name">
  <input type="number" name="age" placeholder="age">
  <input type="submit" value='create cat'>
</form>

